body {
  background-size: cover;
  background-repeat: no-repeat;
  color: #212529;
}

footer {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

a {
  color: #1968b6;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #6da2d7;
}

img {
  width: 16px;
  height: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.current-temp {
  font-size: 48px;
}

.feels_like {
  font-size: 16px;
}

.description {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.description::first-letter {
  text-transform: capitalize;
}

.icon {
  text-align: center;
}

.icon img {
  width: 64px;
  height: 64px;
  margin-left: 40x;
}

.temp-max {
  font-weight: bolder;
}

.temp-min {
  font-style: italic;
  color: #212529;
}

.more-info {
  font-weight: bold;
}

.temp-description .units {
  position: relative;
  font-size: 24px;
  top: -16px;
}

.temp-description .active {
  cursor: default;
  color: #212529;
}

.temp-description .active:hover {
  text-decoration: none;
}

.temp-description a {
  color: #3d464f;
}

.forecast-weather {
  text-align: center;
  margin-top: 10px;
}

.forecast-date {
  font-size: 18px;
}

.forecast-icon {
  width: 36px;
  height: 36px;
  margin: 10px;
}

.forecast-temp-max {
  font-size: 16px;
  font-weight: 400;
}

.forecast-temp-min {
  font-size: 16px;
  font-style: italic;
  color: #3d464f;
}

.forecast-description {
  font-size: 13px;
  color: #212529;
}

.forecast-description::first-letter {
  text-transform: capitalize;
}